.highlight {
    font-weight: bold;
}
.slider-handle {
    /* background: #000; */
}
.slider-selection {
    border-bottom: 3px solid #238b45;
}
.slider-track-high {
    border-top: 3px solid rgb(51, 122, 183);
}

