body {

}

.leaflet-zoom-animated g path:hover { fill: #fff; }
.slider.slider-horizontal {
    width: 100%;
}
.settings h2 {
    font-size: 20px;
}
.slider {
    margin-top: 4px;
}
.settings {
    background: #fff;
    padding: 18px 18px 18px 18px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.65098) 0px 1px 5px 0px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.65098) 0px 1px 5px 0px;
    display: block;
    left: 10px;
    line-height: normal;
    overflow-x: hidden;
    overflow-y: hidden;
    position: fixed;
    top: 10px;
    width: 295px;
    z-index: 10;
}
table td.key {
    width: 200px;
    font-weight: bold;
}

.theme {
}

.theme .icon {
    height: 70px;
    width: 70px;
    float: left;
}
.theme .name {
    height: 70px;
    width: 170px;
    float: left;
    text-align: right;
    line-height: 70px;
}
.theme .percentage {
    height: 70px;
    width: 66px;
    float: left;
    text-align: center;
    font-weight: bold;
    line-height: 70px;
}
.theme .bar {
    height: 40px;
    margin-top: 15px;
    width: 240px;
    float: left;
    background: #f0f0f0;
}
.theme .bar .color {
    height: 40px;
}
.theme .clearfix {
    clear: both;
    padding-bottom: 15px;
}

.tab-content {
    padding-top: 20px;
}



.slide-out {
    transition: left 0.27s;
    position: fixed;
    left: -350px;
    transition-timing-function: cubic-bezier(0.8,0,0.8,1);
}

.slide-in {
    transition: left 0.27s;
    position: fixed;
    left: 10px;
    transition-timing-function: cubic-bezier(0.8,0,0.8,1);
}


